*.jl.cov
*.jl.*.cov
*.jl.mem

# files in deps are downloaded as needed from a different repo because of their size.
deps/*

# checkpoint files for notebook examples are volatile
*.ipynb_checkpoints

# log files are only used for debugging
*.log

# personal TODO file
TODO.md