## Standard options for all users
*.jl.cov
*.jl.*.cov
*.jl.mem

# files in deps are downloaded as needed from a different repo because of their size.
deps/*

# checkpoint files for notebook examples are volatile
*.ipynb_checkpoints

# documentation files in /build and /site are fully specified by make.jl and soource
docs/build/
docs/site/

## Additional ignored files for personal use
# personal TODO file
TODO.md

# log files are only used for debugging
*.log

# vscode options
.vscode/*

# omit Manifest.toml from packages, per
# https://discourse.julialang.org/t/does-manifest-toml-belong-in-the-repository/12029/13
Manifest.toml
